.hero-with-text {
    position: relative;
  
    overflow: hidden;
    max-width: 2000px;
    margin-inline: auto;
    margin-bottom: -90px;
  }
  
  .hero-with-text .container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: space-between;
  }
  
  .hero-with-text__gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .hero-with-text__background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-position: right top;
    z-index: 0;
  }
  
  .hero-with-text__background .image {
    object-fit: cover;
    object-position: center;
  }
  .hero-with-text__body {
    height: 100%;
  }
  .hero-with-text__content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 10;
    overflow: visible;
  }
  .hero-with-text__subtitle {
    margin-bottom: -5px;
  }
  .hero-with-text__subtitle * {
    color: #A8A8A8;
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 1px;
    padding-bottom: 0.05em;

    @apply font-bounded
  
  }
  .hero-with-text__title {
    
    color: #CACACA;
    font-weight: 400;
    margin-left: -20px;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 1px;
    line-height: 100%;
    @apply font-bounded
  }
  
  .hero-with-text__big-button {
    display: none;
  }
  
  .hero-with-text__body {
  }
  
  @media (min-width: 2000px) {
    .hero-with-text {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }
  
  @media (max-width: 1500px) {
    .hero-with-text__title {
      margin-left: -1vw;
      letter-spacing: 1.4px;
    }

  }
  
  @media (max-width: 1200px) {
    .hero-with-text {
        margin-bottom: -70px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
    .hero-with-text .container {
        gap:25px;
    }
  
    .hero-with-text__background {
      width: 114%;
      right: -14%;
    }
  
    .hero-with-text__background .image {
    }
    .hero-with-text__body {
    }
    .hero-with-text__content {
      gap: 15px;
    }
    .hero-with-text__subtitle * {
      font-size: 22px;
      letter-spacing: 0.4px;
      line-height: 155%;
      padding-bottom: 0.05em;
    }
    .hero-with-text__title {
    }
  
    .hero-with-text__big-button {
    }
  }
  
  @media (max-width: 740px) {
    .hero-with-text {
    }
  
    .hero-with-text .container {
        gap:5px
    }
  
    .hero-with-text__background {
      --translate-x: 229px;
      width: calc(100%+var(--translate-x));
      right: -(var(--translate-x));
    }
  
    .hero-with-text__body {
    }
    .hero-with-text__content {
      gap: 20px
    }
    .hero-with-text__subtitle * {

    }
    .hero-with-text__title {
      /* margin-right: -1vw; */
      letter-spacing: 1.4px;
    }
  
    .hero-with-text__big-button {
      margin-top: 5px;
      display: hidden;
    }
  }
  