.modal {
  @apply opacity-0 pointer-events-none fixed top-0 left-0 right-0 bottom-0 z-[100] transition-transform duration-500 translate-x-[-110%];
}

.modal.open {
  @apply opacity-100 pointer-events-auto translate-x-[0%];
}

.modal.closed {
  animation: disappear 0.5s
}

.modal__wrapper {
  @apply h-full;
}

.modal__window {
  @apply h-full relative
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}