@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bounded";
  src: url("/fonts/Bounded-Black.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Bounded";
  src: url("/fonts/Bounded-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont.woff2") format("woff2");
}

:root {
  --font-bounded: "Bounded";
  --font-mulish: "Mulish";
  --black: #000000;
  --black-2: rgba(0, 0, 0, 0.5);
  --bg-light-grey: #f8f8f8;
  --white: #ffffff;
  --white-2: rgba(255, 255, 255, 0.5);
  --white-3: rgba(255, 255, 255, 0.7);
  --grey-1: #cacaca;
  --grey-2: #818181;
  --grey-3: #ededed;
  --main-purple: #7a66d5;
  --purple-2: #b6a9f1;
}

* {
  font-family: var(--font-mulish);
}

.container {
  margin-inline: auto;
  max-width: 1512px;
  padding-inline: 40px;
}

.image {
  width: 100%;
  height: 100%;
  max-width: none;
}

.no-fill {
  fill: none !important;
}

.desktop-only {
  @apply md:hidden !important;
}

.non-mobile {
  @apply sm:hidden;
}

body {
  @apply flex flex-col gap-[120px] md:gap-[90px];
}

section {
  @apply w-full;
}

.section-heading {
  @apply text-[30px] tracking-[0.6px] uppercase font-bold leading-[120%] text-black
  md:text-[20px] md:tracking-[0.4px];
}

.small-text {
  @apply text-[16px] text-black leading-[110%] tracking-[0.32px] md:text-[14px] sm:text-[14px] sm:leading-[100%];
}
.small-text.grey {
  @apply text-[var(--black-2)];
}

.background {
  @apply h-full w-full bg-cover  bg-no-repeat;
  background-image: var(--lg-image-url);
}

.markdown p {
  @apply text-[16px] text-black leading-[110%] tracking-[0.32px] md:text-[14px] sm:text-[14px] sm:leading-[100%] mb-[16px] last:mb-0  md:mb-[14px] md:last:mb-0;
}


input[type="range"].progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--main-purple) 0%,
    var(--main-purple) var(--percent),
    var(--white) var(--percent),
    var(--white) 100%
  );
  border-radius: 9px;
  cursor: pointer;
}

/* — WebKit — */
input[type="range"].progress-bar::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 10px;
}

input[type="range"].progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 4px;
  margin-top: 0px;
  background: var(--main-purple);
  border-radius: 50%;
}

input[type="range"].progress-bar.with-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  margin-top: -3px;
  background: var(--main-purple);
  border-radius: 50%;
}

/* — Firefox — */
input[type="range"].progress-bar::-moz-range-track {
  height: 8px;
  border-radius: 4px;
  background: var(--white);
}
input[type="range"].progress-bar::-moz-range-progress {
  height: 4px;
  border-radius: 4px;
  background: var(--main-purple);

}
input[type="range"].progress-bar::-moz-range-thumb {
  width: 4px;
  height: 4px;
  background: var(--main-purple);
  border-radius: 50%;
}
input[type="range"].progress-bar.with-thumb::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: var(--main-purple);
  border-radius: 50%;
}

/* — IE / Edge — */
input[type="range"].progress-bar::-ms-track {
  width: 100%;
  height: 4px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].progress-bar::-ms-fill-lower {
  border-radius: 4px;
  background: var(--main-purple);
}
input[type="range"].progress-bar::-ms-fill-upper {
  background: var(--white);
  border-radius: 4px;
}
input[type="range"].progress-bar::-ms-thumb {
  width: 4px;
  height: 4px;
  background: var(--main-purple);
  border-radius: 50%;
}
input[type="range"].progress-bar.with-thumb::-ms-thumb {
  width: 10px;
  height: 10px;
  background: var(--main-purple);
  border-radius: 50%;
}


@media (max-width: 1200px) {
  .container {
    padding-inline: 20px;
  }
  .background { 
       background-image: var(--md-image-url);
  }
  input[type="range"].progress-bar::-webkit-slider-runnable-track {
    height: 3px;
    border-radius: 10px;
  }
  
  input[type="range"].progress-bar::-webkit-slider-thumb {
    width: 3px;
    height: 3px;
    margin-top:   0px;

  }
  
  input[type="range"].progress-bar.with-thumb::-webkit-slider-thumb {
    width: 6px;
    height: 6px;
    margin-top: -1.5px;
  }
  
  /* — Firefox — */
  input[type="range"].progress-bar::-moz-range-track {
    height: 6px;
  }
  input[type="range"].progress-bar::-moz-range-progress {
    height: 3px;
  
  }
  input[type="range"].progress-bar::-moz-range-thumb {
    width: 3px;
    height: 3px;
  }
  input[type="range"].progress-bar.with-thumb::-moz-range-thumb {
    width: 6px;
    height: 6px;
  }
  
  /* — IE / Edge — */
  input[type="range"].progress-bar::-ms-track {
    height: 3px;
  }
  input[type="range"].progress-bar::-ms-fill-lower {
  }
  input[type="range"].progress-bar::-ms-fill-upper {
  }
  input[type="range"].progress-bar::-ms-thumb {
    width: 3px;
    height: 3px;
  }
  input[type="range"].progress-bar.with-thumb::-ms-thumb {
    width: 6px;
    height: 6px;
  }
  
}

@media (max-width: 740px) {
  .container {
  }
  .background { 
        background-image: var(--sm-image-url);
  }
  input[type="range"].progress-bar::-webkit-slider-runnable-track {
    height: 2px;
  }
  
  input[type="range"].progress-bar::-webkit-slider-thumb {
    width: 2px;
    height: 2px;
    margin-top: 0px;
  }
  
  input[type="range"].progress-bar.with-thumb::-webkit-slider-thumb {
    width: 6px;
    height: 6px;
    margin-top: -1.5px;
  }
  
  /* — Firefox — */
  input[type="range"].progress-bar::-moz-range-track {
    height: 8px;
  }
  input[type="range"].progress-bar::-moz-range-progress {
    height: 2px;
  
  }
  input[type="range"].progress-bar::-moz-range-thumb {
    width: 2px;
    height: 2px;
  }
  input[type="range"].progress-bar.with-thumb::-moz-range-thumb {
    width: 6px;
    height: 6px;
  }
  
  /* — IE / Edge — */
  input[type="range"].progress-bar::-ms-track {
    height: 2px;
  }
  input[type="range"].progress-bar::-ms-fill-lower {
    border-radius: 2px;
  }
  input[type="range"].progress-bar::-ms-fill-upper {
  }
  input[type="range"].progress-bar::-ms-thumb {
    width: 2px;
    height: 2px;
  }
  input[type="range"].progress-bar.with-thumb::-ms-thumb {
    width: 6px;
    height: 6px;
  }
}
