.header__button {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 40px;
  background: var(--main-purple);
  padding: 8px 31px;
  @apply md:text-[12px] md:leading-[110%] md:tracking-[0.24px] md:px-[19px] md:py-[9px]
    sm:mt-[5px] sm:py-[13.5px] sm:text-center sm:w-full;
}

/* Стили для мини-плеера */
.header__button--mini-player {
  @apply flex items-center gap-[12px] cursor-pointer;
  height: 40px;
  min-width: 214px;
  max-width: 300px;
  transition: all 0.3s ease;
}

.header__button--mini-player:hover {
  opacity: 0.9;
}

.header__button__play-button {
  @apply flex items-center justify-center w-[20px] h-[20px] rounded-full transition-colors mr-[-3px];
}


.header__button__progress-container {
  @apply flex-1 h-[6px] rounded-full overflow-hidden;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__button__progress-bar {
  @apply h-full rounded-full transition-all duration-300;
  background-color: white;
}

.header__button__duration {
  @apply text-[12px] font-medium lowercase whitespace-nowrap;
}


 .header__lang-button.black {
    color: var(--black-1);
}

.header {
  @apply relative z-10 mt-[22px] flex items-center justify-between md:mt-[14px] sm:mt-[20px];
}
.header__left {
  @apply flex items-center gap-[140px];
}
.header__right {
  @apply flex items-center gap-[20px] md:mr-[60px] sm:mr-0;
}


.header__lang-button {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

.header__logo {
  @apply w-[40px] h-[40px] md:w-[30px] md:h-[30px];
  background: no-repeat center / contain var(--header-logo-url);
}
