.title {
  margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.member {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: column;
    aspect-ratio: 320/333;
}

@media (min-width: 768px) {
    .list {
        gap: 24px;
    }

    .member {
        flex-direction: row;
        gap: 24px;
    }

    .top {
        max-width: 30vw;
        min-width: 30vw;
        aspect-ratio: 1/1;
    }
}

@media (min-width: 1024px) {
    .list {
        gap: 30px;
    }

    .member {
        gap: 30px;
    }

    .top {
        max-width: 24vw;
        min-width: 24vw;
    }
}

.member__picture {
  @apply overflow-hidden rounded-[10px] w-full;
}

.member__content {
  @apply flex flex-col gap-[16px] md:gap-[12px] sm:gap-[8px];
}

.name {
    @apply text-brown font-manrope font-semibold text-[30px] max-w-[65%] sm:max-w-full lgm:max-w-[75%] leading-[120%] lgm:text-[24px] md:text-[18px] sm:text-[14px]
}

.role {
    @apply text-[20px] tracking-[0.36px] leading-[120%] max-w-[75%] md:max-w-full text-brown md:text-[14px]
}

.description {
    @apply text-[18px] leading-[110%] tracking-[0.32px] max-w-[75%] md:max-w-full text-brown opacity-75 md:text-[14px]
}
